<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :payment_status %>
    <%= form.number_field :payment_status %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference %>
  </div>

  <div class="field">
    <%= form.label :items_count %>
    <%= form.number_field :items_count %>
  </div>

  <div class="field">
    <%= form.label :courier_id %>
    <%= form.text_field :courier_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
