<p id="notice"><%= notice %></p>

<p>
  <strong>Payment status:</strong>
  <%= @order.payment_status %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @order.kind %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @order.reference %>
</p>

<p>
  <strong>Items count:</strong>
  <%= @order.items_count %>
</p>

<p>
  <strong>Courier:</strong>
  <%= @order.courier_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
